.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#userform {
  width: 400px;
  height: auto;
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 0);
}

#first_name {
  display: block;
  width: 100%;
}

.modal-tag-win {
  overflow: auto;
  position: relative;
  min-height: 100px;
  max-height: 300px;
  border-color: blue;
  border: 1px solid;
  z-index: 500;
  /* background-color: red; */
  width: 200;
  left:50px;
  right:50px;
}

.modal-tag-win ul li {
  list-style-type: none;
  display: block;
  cursor: pointer;
  background-color: #fff;
  padding: 5px;
}

.modal-tag-win ul li:hover{
  background-color: rgb(0, 162, 255);
}

.my-style {
  width: 90%;
}

.my-style2 {
  width: 50%;
}

.hidemywin {
  display: none;  
}
.show-form {
  display: block;  
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom:auto;
  background-color: #222;
  z-index: 200;
  /* overflow: hidden; */
  opacity: 1;
}
.hide-form {
  display: none;  
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom:auto;
  background-color: #222;
  z-index: 300;
  opacity: 1;
}

.hide-list{
  display: none;  
  z-index: 2000;
}

.my-select-options {
  display: none;  
}







